{% extends "rest_framework/base.html" %}
{% load auth_tags %}

{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
{% endblock %}

{% block title %}
{% if name %}{{ name }}{% else %}REST API{% endif %}
{% endblock %}

{% block branding %}
<a class='navbar-brand' rel="nofollow" href='/api'>
FAIR data registration and management system REST API
</a>
{% endblock %}

{% block userlinks %}
{% if remote_registry %}
<span class="navbar-text">
  {% if user.is_authenticated %}
  Logged in as: {{ user.username }}
  <a href="logout">logout</a>
  {% else %}
  {% is_auth_method "GitHub" as is_github %}
  {% if is_github %}
  <a href="{% url 'social:begin' 'github' %}?next={{ request.get_full_path|urlencode }}">Login / Signup with GitHub </a>
  {% endif %}
  {% is_auth_method "GitLab" as is_gitlab %}
  {% if is_gitlab %}
  <a href="{% url 'social:begin' 'gitlab' %}?next={{ request.get_full_path|urlencode }}">Login / Signup with GitLab </a>
  {% endif %}
  {% endif %}
</span>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% if user.is_authenticated %}
<div style="margin-top:1em">
  Click <a href="{% url 'get_token' %}">here</a> to create a new token for accessing the REST API or
  click <a href="{% url 'revoke_token' %}">here</a> to revoke an existing token.
</div>
{% endif %}
{% endblock %}
